<plugin>
	<nom>Squelettes G&eacute;odiversit&eacute;.net</nom>
	<auteur>b_b</auteur>
	<version>0.3.2</version>
	<version_base>0.2</version_base>
	<etat>stable</etat>
	<prefix>geol</prefix>
	<description>
	Squelettes du projet G&eacute;odiversit&eacute;.net.
	</description>
	<lien></lien>
	<licence>GPL v3</licence>
	<icon>images/logo_carre.png</icon>
	<options>geol_options.php</options>
	<fonctions>geol_fonctions.php</fonctions>
	<install>base/geol_upgrade.php</install>
	<pipeline>
		<nom>styliser</nom>
		<inclure>geol_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_charger</nom>
		<inclure>geol_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>em_post_upload_medias</nom>
		<inclure>geol_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>xmlrpc_methodes</nom>
		<inclure>geol_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>xmlrpc_server_class</nom>
		<inclure>geol_pipelines.php</inclure>
	</pipeline>
 	<necessite id='SPIP' version='[2.0.9;]' />
 	<necessite id="diogene" version="[0.3.2;]" />
 	<necessite id="emballe_medias" version="[0.5.1;]" />
 	<necessite id="saisies" version="[1.1;]" />
 	<necessite id='Z' version='[1.1.1;]' />
 	<necessite id='pages' version='[0.3.0;]' />
 	<necessite id='mesfavoris' version='[2.0.0;]' />
 	<necessite id='menus' version='[0.8.1;]' />
 	<necessite id='gis' version='[2.0.3;]' />
 	<utilise id='amis' version='[0.1;]' />
</plugin>
