/* ------------------------------------------
/* Typographie generale (style transversaux)
/* ------------------------------------------ */
html { font-size: 100%; } /* Cf.: http://pompage.net/pompe/definir-des-tailles-de-polices-en-CSS/ */

/* Titraille / Intertitres */
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 { margin: 0; padding: 0; font-weight: normal; font-size: 1em; }
h3,.h3 { font-size: 1.20em; font-weight: bold; }

/* Autres enrichissements typo */
strong { font-weight: bold; }
em { font-style: italic; }
abbr, acronym { border-bottom: 1px dotted; cursor: help; text-decoration: none; }
small { font-size: 0.90em; color: #666; }
dfn { font-weight: bold; color: #666; }
del { text-decoration: line-through; }
ins { color: red !important; text-decoration: none; }
sup, sub { font-size: .8em; font-variant: normal; }

/* Cf.: spip_style.css */
.spip_code {color:#8B2703;}
.spip_cadre {color:#444; background-color: #fff; border: 1px solid #ddd; font-size:1em; padding:0.5em;width:90%; }

/* Tableaux */
/* Cf.: spip_style.css */
table.spip { width: 99%; }
table.spip tr.row_first { background: #46839B; color:white;}
table.spip td, table.spip th {border:white 2px solid;}

/* Logos, documents et images */
img { margin: 0; padding: 0; border: 0; }

/* ------------------------------------------
/* Disposition a l'ecran des blocs principaux
/* ------------------------------------------ */
body { margin: 0; padding: 0; text-align: center; }

#page { position: relative; background: #fff; text-align: left; }

#entete .accueil { display: block; }
#entete .accueil .spip_logos { vertical-align: bottom; line-height: 1em; }
#entete .accueil #nom_site_spip { vertical-align: bottom; }
#entete .formulaire_menu_lang { position: absolute; right: 0; top: 0.90em; display: block; width: 30%; } /*Cf.: spip_formulaires.css*/

#conteneur { clear: both; overflow: hidden; }

#navigation { margin-top: 1em; overflow: hidden; }

#pied { margin: 1em 0 0 0; font-size: 0.90em; }
#pied img { vertical-align: middle; }


/* ------------------------------------------
/* Habillage des elements du contenu
/* ------------------------------------------ */

#hierarchie { clear: both; }
#hierarchie a { color: #666; }

.cartouche .info-publi { margin: 0; padding: 0; clear: left; }

.chapo { line-height: 1.40em; }
.texte { line-height: 1.60em; }
.ps, .notes { margin-bottom: 2em; line-height: 1.40em; }
.notes { clear: both; font-size: 0.90em; }


/* Portfolio */
.documents_portfolio { clear: both; margin: 2em auto; text-align: center; }
.documents_portfolio .spip_logos { margin: 6px 3px 0 3px; border: 4px solid #DDD; }
.documents_portfolio a.on .spip_logos { border-color: #f63; }
.documents_portfolio a:focus .spip_logos,
.documents_portfolio a:hover .spip_logos,
.documents_portfolio a:active .spip_logos { border-color: #46839B; }


/* ------------------------------------------
/* Sous-navigation et autres menus
/* ------------------------------------------ */

/* Habillage general des menus de navigation */

.menu { clear: both; margin-bottom: 2em; text-align: left; }
.menu p { margin: 0.20em 0; padding: 0.20em 0.10em; }
.menu-liste { margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #ddd; }
.menu-liste .menu-entree { margin: 0.20em 0; padding: 0.20em;}
.menu-liste .menu-entree .menu-liste { margin-left: 1em; border: 0; }
.menu-liste .menu-entree .menu-entree { padding: 0; border: 0; }
#nav .menu-liste .menu-entree {	display: inline;padding:0;margin:0 0 0 10px; }

#navigation .menu-liste {border-bottom:0;}
#navigation .menu-liste .menu-entree {list-style:square; margin-left:15px; padding:0; color:#f63;}
#navigation .menu-liste .menu-entree .menu-liste {margin-left:0;}
#navigation .liste .h2 {margin-top:1em;}

/* Pagination */
.pagination { clear: both; text-align: right; font-size: 0.90em; color: #666; }
.pagination .on { font-weight: bold; color: #666; }

/* Listes d'articles et extraits introductifs */
.liste-items {margin: 0; padding: 0; list-style: none; border-bottom:0;}
.liste-items .item {list-style:square; margin-left:0; padding:2px 0; clear:both; overflow:hidden;}
.liste-items .item .h3 { margin: 0.30em 0; border-bottom:1px solid #46839B;}
.liste-items .item .h3 a:hover { text-decoration:none;}
.liste-items .item .info-publi { display:block; float:right; margin-top:0.6em; }

.liste.articles .spip_logos { float: right; clear: right; margin: .8em 0 4px 16px; }
.liste .articles .item .introduction { margin-top: 0.30em; line-height: 1.40em; padding: 0.5em 0 1.5em 1em;}

/*  ------------------------------------------
/*  Habillage des formulaires
/*  ------------------------------------------ */
input, select, textarea { font-size: 100%; font-family: inherit; }


/* Structure generale des formulaires
----------------------------------------------- */
.formulaire_spip { clear: both; text-align: left; font-size: 1em; }
.formulaire_spip form { margin: 0; padding: 0; } /* Bug IE/Win */

/* Fieldset */
.formulaire_spip fieldset { clear: both; margin: 0 0 1em 0; padding: 0; border: 0; }
.formulaire_spip fieldset legend { margin: 0; padding: 0; font-size: 1.05em; font-weight: bold; background-color: #fff; color: #333; } /* Preciser la couleur des legend et du fond pour IE/Win */
.formulaire_spip fieldset fieldset { margin-top: 1em; }
.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

/* Explications */
.formulaire_spip .explication { margin: 0.50em 0; color: #444; }

/* Lignes */
.formulaire_spip .editer-groupe { margin: 0; padding: 0; list-style: none; }
.formulaire_spip .editer-groupe .editer { clear: both; margin: 0; padding: 0.50em 0; }

/* Labels */
.formulaire_spip label { display: block; text-align: left; color: #444; font-weight: bold; /* pour IE/Win */ position: relative;  }
.formulaire_spip .editer p { margin-top: 0; margin-bottom: 0; }

.formulaire_spip .choix label{display:inline;font-weight:normal;}
.formulaire_spip .choix input.radio,
.formulaire_spip .choix input.checkbox {width:auto;}


/* Champs de saisie */
.formulaire_spip input.text { width: 15em; border: 1px inset; }
.formulaire_spip textarea { width: 99%; border: 1px inset; }
.formulaire_spip select { width: 99%; }

/* Boutons */
.formulaire_spip .boutons { clear: both; margin: 0; padding: 0; text-align: right; }
.formulaire_spip .boutons input { margin-left: 1em; }
.formulaire_spip .boutons input, input.submit {}


/* Reponses, previsu et erreurs
----------------------------------------------- */

/* Champs obligatoires */
.formulaire_spip .editer.obligatoire {}
.formulaire_spip .editer.obligatoire label {}

/* Previsualisation du message */
.formulaire_spip fieldset.previsu { margin-bottom: 2em; padding: 1em; }
.formulaire_spip fieldset.previsu legend { padding: 0 0.50em; font-weight: bold; }
.formulaire_spip fieldset.previsu .editer { padding: 3px; border: none; }
.formulaire_spip fieldset.previsu p { margin: 1em 0; } 

/* Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }
fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend et du fond pour IE/Win */

/* * Erreurs */
.formulaire_spip .editer.erreur .erreur_message { display: block; color: #C30; font-weight: bold; }
.formulaire_spip .editer.erreur input.text, .formulaire_spip .editer.erreur textarea { background-color: #FCC; border-style: solid; border-color: #C30; }
.reponse_formulaire_erreur { margin: 0; color: #C30; font-weight: bold; }

/* * OK */
.reponse_formulaire_ok { margin: 0; font-weight: bold; }


/* Variantes et cas particuliers
----------------------------------------------- */

/* Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }
table.spip_barre a img { padding: 3px; border: 1px outset #CC9; }
table.spip_barre a:focus img,
table.spip_barre a:hover img,
table.spip_barre a:active img { border: 1px solid #CC9; }
table.spip_barre input.barre { width: 99%; background: transparent; border: 0; }

/* Formulaire de forum */
.formulaire_forum .saisie_titre input.text, .formulaire_forum .saisie_titre textarea { width: 98%; }
.forum {margin:1em 0 0 0; padding:1em; border:#888 1px solid; background:#f6f6f6; list-style-type:none;}
.forum .forum-fil {margin-bottom:2em;}
.forum .forum-fil .forum-chapo {background:#666; padding:.5em; color:white;}
.forum .forum-fil .forum-chapo a {color:white;}
.forum .ancre {float:left; margin-right:0.5em;}
.forum .spip_logos {float:right; margin: 0 2px 4px 10px;}

/* Selection des langues */
.formulaire_menu_lang { padding: 0; background: none; }

/* Formulaires de recherche (site / petitions) */
.formulaire_recherche { margin: 0; padding: 0; background: none; }
.formulaire_recherche * { display: inline; }
.formulaire_recherche input.text { width: 10em; }

/* Choix des mots-clefs */
ul.choix_mots { display: block; margin: 0; padding: 0; list-style: none; }
ul.choix_mots li { clear: none; float: left; display: block; width: 30%; padding: 1%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

.formulaire_spip .bugajaxie { display: none; } /* Bug IE/Win */

/* Formulaire de login dans une page */
.formulaire_login ul li {clear:left;}
.formulaire_login ul li input.password { width: 15em; border: 1px inset; }
.formulaire_login .editer_password .details {display:block;}
.formulaire_login #spip_logo_auteur {float:right;}


/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* 			Personnalisations geodiversite					 */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

@font-face {
	font-family: 'geol';
	src: url('polices/jesaya_free.eot');
	src: local('Jesaya Free Regular'), local('JesayaFree-Regular');
	src: url('polices/jesaya_free.eot?#iefix') format('embedded-opentype'),
		 url('polices/jesaya_free.woff') format('woff'),
		 url('polices/jesaya_free.ttf') format('truetype'),
		 url('polices/jesaya_free.svg#JesayaFree-Regular') format('svg');
}

/* Typo de base + Disposition a l'ecran des blocs principaux */

body { font-family: Arial, Helvetica, sans-serif; font-size: 0.75em; color: #666; background: #fff; }
#page { width: 100%; margin: 0; padding: 0; border: 0; }
body div.conteneur { width: 960px; margin: 0 auto; }
#top, #entete, #nav, #top #extra { width: 100%; border: 0; margin: 0; }
#contenu { float: left; width: 76%; padding-top: 0; }
#navigation { float: right; width: 21%; }
#pied { clear: both; width: 100%; padding: 0; background: transparent; border: 0; border-top: 1px solid #ddd; text-align: left; }

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 { font-family: Arial, Helvetica, sans-serif; }

h1, .h1, h2, .h2 { clear: both; overflow: hidden; font: bold 1.2em Arial, Helvetica, sans-serif; color: #00c0f8; }
h2 a, h2 a:hover, .h2 a, .h2 a:hover { color: #666; }

h3.spip { color: #666; text-align: left; margin: 1em 0; }
.spip_surligne { background: transparent; }

h1, .h1, h2, .h2 { font: bold 1.2em geol, Arial, Helvetica, sans-serif; color: #00c0f8; }
#contenu .h2 { margin: 20px 0; padding: 4px 0 4px 10px; background: transparent url(images/bg_titre_left.png) -190px 50% no-repeat; }

/*  ------------------------------------------
/*  le menu de navigation + entete + extra
/*  ------------------------------------------ */

#entete { padding: 10px 0 5px; background: #fff; }
#entete .accueil { width: 960px; margin: 0 auto; text-align: left; }
#entete .accueil #nom_site_spip { font: bold 4em geol, Arial, Helvetica, sans-serif; }

#nav { background: #f2f2f2; border: 1px dashed #ddd; border-left: 0; border-right: 0; overflow: hidden; }
#nav .menu-liste { float: right; border: 0; font-size: 1.1em; text-transform: uppercase; padding: 5px; padding-left: 30px; background: #00c0f8 url(images/bg_nav.png) left 50% no-repeat; }
#nav .menu-liste .menu-entree { display: inline; margin: 0.20em 0; padding: 0.20em; }
#nav .menu-liste .menu-entree a { color: #fff; font-weight: bold; }
#nav .menu-liste .menu-entree a:hover { color: #f5f5f5; text-decoration: none; }
#nav .menu-liste.univers { position: absolute; right: 0; top: 45px; background: transparent;}

#extra .menu { float: right; margin: 0; padding: 5px; padding-left: 30px; background: transparent url(images/bg_extra.png) left 50% no-repeat; }
#extra .menu .h2,
#extra .menu .menu-liste,
#extra .menu .menu-liste .menu-entree { display: inline; border: 0; text-transform: uppercase; font-size: 1em; font-weight: normal; color: #fff; font-family: Arial, Helvetica, sans-serif; }
#extra .menu .menu-liste .menu-entree a { color: inherit; }
#extra .menu .formulaire_recherche { position: relative; display: inline-block; margin-left: 5px; }
#extra .menu .formulaire_recherche * { vertical-align: baseline; }
#extra .menu .formulaire_recherche label { text-transform: uppercase; font-weight: normal; z-index: 1; }
#extra .menu .formulaire_recherche input.text { padding: 1px; border: 0; background: #fff; color: #333; }
#extra .menu .formulaire_recherche input.submit { padding: 1px; border: 0; background: #f5f5f5; cursor: pointer; }


/*  ------------------------------------------
/*  hierarchie
/*  ------------------------------------------ */

#hierarchie { font: bold 1.2em geol, Arial, Helvetica, sans-serif; }
#hierarchie li:first-child,
div#hierarchie > a:first-child { background: #00c0f8 url(images/bg_ariane_blue.png) right 50% no-repeat; color: #fff; }
#hierarchie .on:first-child { background-image: url(images/bg_ariane_blue_on.png) }
#hierarchie li:first-child a,
div#hierarchie > a:first-child { color: #fff; }
#hierarchie li,
div#hierarchie > a,
div#hierarchie > strong { display: block; float: left; padding: 4px 30px 4px 10px; background: #f2f2f2 url(images/bg_ariane_grey.png) right 50% no-repeat; }
#hierarchie .on { background-image: url(images/bg_ariane_grey_on.png); }
#hierarchie li.collapsed { width: 5px; }
#hierarchie .sep { display: none; }

/*  ------------------------------------------
/*  navigation
/*  ------------------------------------------ */

#navigation { margin-top: 3.2em; }
#navigation .menu { margin-bottom: 20px; padding: 0; background: transparent; border: 0; }
#navigation .h2 { margin-bottom: 15px; text-align: right; }
#navigation .h2 span { display: table; float: right; padding: 4px 10px 4px 40px; min-width: 100px;
	background: #f2f2f2 url(images/bg_titre_right.png) left 50% no-repeat; }
#navigation .h3 { font-size: 1em; margin: 5px 0; padding: 0 0 2px; border-bottom: 1px solid #f2f2f2; }

/*  ------------------------------------------
/*  pied
/*  ------------------------------------------ */

#pied a { color: #666; }
#pied .on { font-weight: normal; }

/*  ------------------------------------------
/*  pages sommaire, articles et rubriques
/*  ------------------------------------------ */

.page_sommaire #contenu .boites .h2 { width: 50%; margin-bottom: 0; color: #fff; font-size: 1.5em;
	background: #00c0f8 url(images/bg_ariane_blue_on.png) right 50% no-repeat; }

.page_article #contenu { width: 60%; }
.page_article #navigation { width: 35%; }

.cartouche .h1 { display: none; }

/*  ------------------------------------------
/*  page carte
/*  ------------------------------------------ */

.page_carte #pied #bouton { background: transparent url(images/bouton_pied.png) -40px top no-repeat; width: 40px; height: 20px; }

/* page auteur + auteurs
----------------------------------------------- */

.suivi .liste-items .item a { padding-right: 30px; }
.suivi .rss { background: transparent url(images/rss.png) right 50% no-repeat; }
.suivi .kml { background: transparent url(images/kml.png) right 50% no-repeat; }
.suivi .georss { background: transparent url(images/georss.png) right 50% no-repeat; }

/* page 404
----------------------------------------------- */

.page_404 #conteneur { background: transparent url(images/bg_404.png) right 50% no-repeat; }

/* boutons admin */
body .spip-admin-float { right: 5px; margin: 5px auto 0; }
body a.spip-admin-boutons { border: 1px solid #ddd; color: #666; background: #fff; }
body a.spip-admin-boutons:hover { border: 1px solid #ddd; background: transparent; }

/* Affichage sur petits ecrans
Cf.: http://www.alsacreations.com/astuce/lire/1177
------------------------------------------ */

@media (max-width: 959px) {
	/* les bases */
	body,
	#page,
	#conteneur, body div.conteneur,
	#top,
	#entete,
	#entete .accueil,
	#nav,
	#extra,
	#contenu,
	#navigation,
	#pied { width: auto !important; margin: auto !important; padding: auto !important; }
	#page { margin: 0; }
	#contenu,
	#navigation { clear: both; float: none !important; }

	/* la typo */
	img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { max-width: 100% !important; }
	img { height: auto; }
	textarea, table, td, th, code, pre, samp { word-wrap: break-word; }
	code, pre, samp { white-space: pre-line; }

	/* le reste :p */
	#nav .menu-liste { background: #f2f2f2; float: none; padding: 1%; }
	#nav .menu-liste.univers { position: relative; top: 0; }
	#nav .menu-liste .menu-entree a,
	#nav .menu-liste .menu-entree a:hover { color: #00c0f8; }
	#extra { margin-bottom: 15px !important; }
	#extra .menu { background: #000; padding-left: 5px; float: none; overflow: hidden; }
	#extra .menu .h2 { display: none; }
	#extra .menu .menu-liste .menu-entree a { color: #fff; font-weight: bold; }

	#hierarchie li { display: none; }
	#hierarchie li.on { display: block; }

	.comments-list li { padding: 0 }
	.comments-list .comment-meta img.photo { display: none; }

	#navigation,
	#navigation .menu,
	#navigation .menu .explication,
	#navigation .menu .adr,
	#navigation .menu .geo { text-align: left !important; }
	#navigation .h2 { margin: 20px 0; padding: 4px 0 4px 10px; text-align: left;
		background: transparent url(images/bg_titre_left.png) -190px 50% no-repeat; }
	#navigation .h2 span { display: inline; float: none; padding: 0; background: transparent; }
	
	.suivi .liste-items .item { float: left; clear: none; margin-right: 10px; }
	.suivi .liste-items .item a { padding-left: 25px; padding-right: 0; background-position: left 50%; }
	
	.page_sommaire .image_pop { overflow: hidden; }
	
}

/* Tablet Portrait width to 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	body { min-width: 768px; }
	#page { padding: 3%; }
	.page_sommaire #contenu { width: 90%; }
	#navigation { width: 360px !important; margin: 0 !important; }
}
/* All Mobile Widths */
@media only screen and (max-width: 767px) {
	body { min-width: 300px; }
	#page { padding: 5%; }
	.page_sommaire .image_pop,
	.page_sommaire #contenu .menu,
	.page_sommaire #contenu .boites .h2 { width:auto !important; margin: 1em auto !important; float: none !important; }
}
/* Mobile Landscape Width to Tablet Portrait Width */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body { min-width: 480px; }
	#navigation { width: 360px !important; margin: 0 !important; }
}

@media (max-width: 520px) { 
	#nav .menu-liste .menu-entree { display: block; width: 48%; float: left; }
	.boites .liste-items .item { width: 100% !important; margin: auto !important; padding: auto !important; }
}